/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* contents */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://m.search.naver.com/search.naver?nso=so%3Ar%2Cp%3Aall&nso_open=0&query=%EC%95%88%EA%B2%BD%EB%A7%8C%EB%91%90+%EB%B0%B0%EA%B2%BD&section=image&sm=mtb_irq&where=m_image#imgId=image_sas%3Ablog_e9eae696dd5326ed5b3f3c4495ce42a4&prv_puid=jcbovspr44Vsst0S%2BkRssssstg0-204024") 
    center/cover no-repeat;
}

.current-weather {
  width: 300px;
  height: 300px;
  background: rgba(204, 204, 204, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 20px;
}

.icon {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.temp {
  font-weight: bold;
  font-size: 2rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
}